# **Laboratory Assignment 6**

In [311]:
import pandas as pd
import numpy as np

## 1. Load the above dataset locally

In [312]:
water_quality_dataset = pd.read_csv('waterQuality1.csv', index_col=False)
water_quality_dataset

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [313]:
#View columns data types
water_quality_dataset.dtypes

aluminium      float64
ammonia         object
arsenic        float64
barium         float64
cadmium        float64
chloramine     float64
chromium       float64
copper         float64
flouride       float64
bacteria       float64
viruses        float64
lead           float64
nitrates       float64
nitrites       float64
mercury        float64
perchlorate    float64
radium         float64
selenium       float64
silver         float64
uranium        float64
is_safe         object
dtype: object

In [332]:
'''
Dataset contains '#NUM!' values in ammonia and is_safe columns.
is_safe is the target variable, so we don't know what is the exact class 
of those #NUM! values in the is_safe column.
The best way to do is to remove all rows with '#NUM!' value
'''
for col in water_quality_dataset.index:
  if water_quality_dataset.loc[col, "ammonia"] == "#NUM!" or water_quality_dataset.loc[col, "is_safe"] == "#NUM!":
    water_quality_dataset.drop(col, inplace = True)
    
water_quality_dataset.dtypes

aluminium      float64
ammonia        float64
arsenic        float64
barium         float64
cadmium        float64
chloramine     float64
chromium       float64
copper         float64
flouride       float64
bacteria       float64
viruses        float64
lead           float64
nitrates       float64
nitrites       float64
mercury        float64
perchlorate    float64
radium         float64
selenium       float64
silver         float64
uranium        float64
is_safe          int64
dtype: object

## 2. Establish your X and Y matrices.

In [316]:
x = water_quality_dataset.drop('is_safe', axis=1)
y = water_quality_dataset['is_safe']

In [317]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x = scaler.fit_transform(x)

## 3. Perform 80/20 Data split for your X and Y matrix.

In [318]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(x, y, test_size=0.2)

## 4. Provide data dimension for 
        1. train data
        2. test data

In [319]:
print("X_train shape: ", X_train.shape)
print("y_train shape: ", y_train.shape)
print("X_test shape: ", X_test.shape)
print("y_test shape: ", y_test.shape)

X_train shape:  (6396, 20)
y_train shape:  (6396,)
X_test shape:  (1600, 20)
y_test shape:  (1600,)

## 5. Define, build, predict the following classification learning algorithms
        1. Logistic Regression
        2. Classification Tree
        3. Random Forest
        4. Naive-Bayes Classification

In [320]:
#import all algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [321]:
#Logistic Regression
logistic_reg = LogisticRegression(C=1e6)

logistic_reg.fit(X_train, y_train)

logistic_predictions_train = logistic_reg.predict(X_train)
logistic_predictions_test = logistic_reg.predict(X_test)

In [322]:
#Decision Tree
dt_classifier = DecisionTreeClassifier(random_state=0)

dt_classifier.fit(X_train, y_train)

dt_predictions_train = dt_classifier.predict(X_train)
dt_predictions_test = dt_classifier.predict(X_test)

In [323]:
#Random Forest
rf_classifier = RandomForestClassifier(random_state=0)

rf_classifier.fit(X_train, y_train)

rf_predictions_train = rf_classifier.predict(X_train)
rf_predictions_test = rf_classifier.predict(X_test)

In [324]:
#Naive Bayes
nb_classifier = GaussianNB()

nb_classifier.fit(X_train, y_train)

nb_predictions_train = nb_classifier.predict(X_train)
nb_predictions_test = nb_classifier.predict(X_test)

## 6. Print the performance of the above models in training and testing data

In [325]:
#import accuracy metric
from sklearn.metrics import accuracy_score

In [326]:
#Logistic Regression
accuracy_logistic_reg_train = accuracy_score(y_true=y_train, y_pred=logistic_predictions_train)
accuracy_logistic_reg_test = accuracy_score(y_true=y_test, y_pred=logistic_predictions_test)
print("Logistic Regression train accuracy: ", accuracy_logistic_reg_train)
print("Logistic Regression test accuracy: ", accuracy_logistic_reg_test)

Logistic Regression train accuracy:  0.9075984990619137
Logistic Regression test accuracy:  0.909375

In [327]:
#Decision Tree
accuracy_dt_train = accuracy_score(y_true=y_train, y_pred=dt_predictions_train)
accuracy_dt_test = accuracy_score(y_true=y_test, y_pred=dt_predictions_test)
print("Decision Tree train accuracy: ", accuracy_dt_train)
print("Decision Tree test accuracy: ", accuracy_dt_test)

Decision Tree train accuracy:  1.0
Decision Tree test accuracy:  0.96

In [328]:
#Random Forest
accuracy_rf_train = accuracy_score(y_true=y_train, y_pred=rf_predictions_train)
accuracy_rf_test = accuracy_score(y_true=y_test, y_pred=rf_predictions_test)
print("Random Forest train accuracy: ", accuracy_rf_train)
print("Random Forest test accuracy: ", accuracy_rf_test)

Random Forest train accuracy:  1.0
Random Forest test accuracy:  0.959375

In [329]:
#Naive Bayes
accuracy_nb_train = accuracy_score(y_true=y_train, y_pred=nb_predictions_train)
accuracy_nb_test = accuracy_score(y_true=y_test, y_pred=nb_predictions_test)
print("Random Forest train accuracy: ", accuracy_nb_train)
print("Random Forest test accuracy: ", accuracy_nb_test)

Random Forest train accuracy:  0.849437148217636
Random Forest test accuracy:  0.860625